<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Name of Color
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	body
		.o-page
			.o-container
				.u-d-flex
					.c-box.u-w-50p
						h2.c-box__title Colors
						form.c-form.c-form-colors
							.c-form__body
								.c-form__group
									input.c-form__field.c-form__field_color-hex(placeholder="#ffffff")
							.c-form__footer
								button.c-btn.c-btn_primary.js-button-add-color Add color
								button.c-btn.c-btn_success.js-button-generate-colors Generate
					.c-box.u-w-50p
						h2.c-box__title Names of Colors
						.c-tabs
							.c-tabs__header
								.c-tabs__item Text
								.c-tabs__item SCSS
								.c-tabs__item SASS
								.c-tabs__item CSS
							.c-tabs__body
								.c-tabs__content.js-text-tab-content.c-tabs__content_is-empty
								.c-tabs__content.js-scss-tab-content.c-tabs__content_is-empty
								.c-tabs__content.js-sass-tab-content.c-tabs__content_is-empty
								.c-tabs__content.js-css-tab-content.c-tabs__content_is-empty
										
						
		